
.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


*{
    margin: 0px;
    padding: 0px;
}

/* shared Styles */

.primary-color{
    color: rgba(78, 71, 255, 1);
}
.btn-primary{
     background-color: #4E47FF;
     color: #FFFFFF;
     font-family: 'raleway';
     font-weight: bold;
     border: none;
     border-radius: 10px;
}


/* header styles */
.hero{
    background-image: url(../Assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 120px;
}
/* navbar style */

.nav-bar{
    display: flex;
    justify-content: space-between;
    padding: 50px 150px;

}
.logo{
    
    font-size: 34px;
    font-weight: bolder;
}
.hero .btn-primary{
    padding: 5px 15px;
}
/* banner Style */

.banner-container{
    padding: 150px 250px;
    text-align: center;
}

.banner-title{
    font-family: 'raleway',sans-serif;
    color: #252432;
    font-size: 62px;
    font-weight: bold;
}
.banner-container .btn-primary{
    padding: 10px 20px;
    margin-top: 40px;
}
